.post{
    max-width: 60vw;
    background-color: white;
    border: 1px solid lightgrey;
    margin: auto;
    margin-bottom: 45px;
}

.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1 px solid lightgray;
}

.post__comment{
    font-weight: normal;
    margin: 10px;
    background-color: white;
}

.post__header{
    display: flex;
    align-items: center;
    
}

.post__avatar{
    margin:10px;

}

.post__commentWrapper{
    display:flex;
    margin-top:10px;
    height: 50px;
}

.post__input{
    flex: 1;
    border: none;
    border-top: 1px solid lightgray
}

.post__button{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    background-color: transparent;
    color: #6082a3;
}

.post__comments{
    padding:10px 10px 10px; 
}

