*, *::before, *::after{
  margin:0;
  
}

.app{
  background-color: #f0f0f0;
  
}

.app__signup{
  display:flex; 
  flex-direction: column;
}

.app__headerImage{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.app__header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index: 1;
}

.app_posts{
 
}